@{
    ViewData["Title"] = "Inicio";
}
<h1>HOLA MUNDO</h1>


@* Para probar el horario*@
<div class="page-wrapper">
    <a asp-controller="Horario" asp-action="SeleccionarHorario" class="btn btn-primary">Seleccionar Horario</a>
</div>

